body {
    background-repeat: no-repeat;
    background-image: url(./fondo.svg);
    background-size: cover;
}
header{
    width: 100%;
    border-style: solid;
    font-size: 20px;
    text-align: center;
    color: white 
}
nav{
    margin: 10px;
    border-style: solid;
    background-color: rgba(244, 118, 16, 0.883);
    font-size: 19px;
    color: rgb(255, 255, 255);
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.btn{
    background-color: rgb(189, 232, 61);
    padding: 8px 10px;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(247, 156, 52);
    color: rgba(245, 18, 18, 0.992);
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 196, 0, 0.244);
    width: 100%;
    height: 400px;
}
section{
    background-color: rgba(3, 255, 79, 0.687);
    margin: 15px;
    height: 175px;
    font-size: 30px;
    text-align: center;
}
p{
    font-size: 20px;
}
aside {
    background-color: rgba(221, 255, 0, 0.179);
    margin: 0 0 0 15px;
    text-align: center;
}
image{
    width: auto;
    height: auto;
}
footer{
    background-color: rgba(243, 255, 5, 0.633);
    width: auto;
    height: 150px;
    font-size: 30px;
    text-align: center;
    margin: 15px;
    color: rgb(0, 0, 0);
}
.d-grid{
    display: grid;
    grid-template-columns: 3fr 3fr;
}